<header class="header">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-auto ps-4">
                <span class="brand">AdminHub</span>
            </div>
            <div class="col">
                <input type="text" class="form-control search-bar" placeholder="Search products, orders...">
            </div>
            <div class="col-auto pe-4">
                <button class="btn profile-btn" type="button" data-bs-toggle="dropdown">
                    <i class="fas fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#"><i class="fas fa-user me-2"></i>Profile</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
